
:root{
    --header-height: 8dvh;
}

.navigation-header{
    height: var(--header-height);
    padding-inline: 8dvw;
    background-color: var(--scheme-clr);
    font-family: "Space Grotesk", sans-serif;
}