:root{
    --photo-container-height: 100px;
}

.photo-container{
    height: var(--photo-container-height);
    
    &.drawer{
        --photo-container-height: 50px;
    }

    &.hero{
        --photo-container-height: 10rem;
    }
}